<% if resource.errors.any? %>
  <div class="alert alert-danger mb-0 text-center">
      <% resource.errors.full_messages.each do |message| %>
        <%= message %><br>
      <% end %>
  </div>
<% end %>
