<%= render "devise/shared/error_messages", resource: resource %>
<div class="d-flex align-items-center" style="height: 40rem;">
<div class="text-center container" style="max-width: 340px;">
        <%= render "form_edit" %>
        <%= render "devise/shared/links" %>

</div>
</div>