<%= render "devise/shared/error_messages", resource: resource %>
<div class="d-flex align-items-center" style="height: 30rem;">
<div class="text-center container" style="max-width: 320px;">
            <%= render "form_new" %>
            <%= render "devise/shared/links" %>
          </div>
        </div>