
  <div class="order-recap">
    <article>
      <h2>Votre commande a été validée !</h2>
        <p>Votre numéro de commande est le <b>N°<%= @order.id %></b></p>
        <p><iframe src="https://giphy.com/embed/SqGzDP3l5NNQY" width="480" height="258" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/sloth-banjo-SqGzDP3l5NNQY"></a></p>
        <br>
        <p style="font-size: 12px; margin-top: 12px"><%= link_to "Retourner sur la page d'accueil", root_path %></p>
        </article>
  </div>
  <br/>