<div class="d-flex align-items-center" style="height: 40rem;">
<div class="text-center container">
       <h2 class="mb-2 fs-1">Chez The Sloth Project, on a un rêve fou ! </h1>
       <p class="mb-5 fs-4">Porté par une équipe incroyable</p>
     <div class="row">
       <div class="col">
         <div class="img-block mx-3">
          <a href="https://github.com/Laurent-Ch"><img src="https://c.tenor.com/e6vxTNuu-ukAAAAC/zootopia-sloth.gif" class="img-fluid rounded-circle" alt="sloth2"></a>
           <div class="content mt-2">
             <h4>Laurent C.</h4>
             <p>Chief Fainéant Officer</p>
           </div>
         </div>
       </div>
       <div class="col">
         <div class="img-block mx-3">
            <a href="https://www.qries.com/"><img src="https://c.tenor.com/dmYZ0fcRAScAAAAM/flash-sloth.gif" class="img-fluid rounded-circle" alt="sloth2"></a>
           <div class="content mt-2">
             <h4>Violette M.</h4>
             <p>Molesse Engineer</p>
           </div>
         </div>
       </div> 
       <div class="col">
         <div class="img-block mx-3">
        <a href="https://github.com/mrprst"><img src="https://media1.giphy.com/media/1xkMJIvxeKiDS/giphy.gif" class="img-fluid rounded-circle" alt="sloth2"></a>
           <div class="content mt-2">
             <h4>Mathias P.</h4>
             <p>Paresse Specialist</p>
           </div>
         </div>
       </div>
       <div class="col">
         <div class="img-block mx-3">
          <a href="https://www.qries.com/"><img src="https://media1.giphy.com/media/IG6i30q4DMT0Q/giphy.gif" class="img-fluid rounded-circle" alt="sloth2"></a>
           <div class="content mt-2">
             <h4>Antoine O.</h4>
             <p>Growth Flemmseur</p>
           </div>
         </div>
       </div>
      <div class="col">
         <div class="img-block mx-3">
        <a href="https://github.com/Luucas51"><img src="https://i.pinimg.com/originals/16/71/2a/16712ae8a01eb611b307b6f4dfb0c2db.gif" class="img-fluid rounded-circle" alt="sloth2"></a>
           <div class="content mt-2">
             <h4>Lucas O.</h4>
             <p>Indolence Designer</p>
           </div>
         </div>
       </div>
     </div>
   </div>
 </div>
