<nav class="py-2 bg-light border-bottom border-top">
  <div class="container d-flex justify-content-center">
    <ul class="nav">
      <li class="btn-tag btn-sm btn-outline-warning mx-2"><a href="/pictures" class="nav-link link-dark px-2 active" aria-current="page">Toutes les images</a></li>
      <% @tags.each do |tag|%>
        <li class="btn-tag btn-sm btn-outline-warning mx-2"><a href="/tags/<%= tag.id %>" class="nav-link link-dark px-2 active" aria-current="page"><%= tag.title.capitalize %></a></li>
      <% end %>
    </ul>
  </div>
</nav>