<div class="container-fluid">
  <div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Pourquoi ne pas vendre des photos de chatons ?
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <strong>Parce que les paresseux, c'est nous.</strong><br>Parce que le monde condamne, à tort, la paresse et la lenteur.<br>Parce que le monde condamne, à tort, la paresse, la lenteur et la répétition.<br>Parce qu'ils nous mettent la tête à l'envers.
        </div>
      </div>
    </div>

    <div class="accordion-item">
      </h2>
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Comment est ce que je recevrais mes photos ?
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <strong>C'est très simple.</strong> 
          <br>Vous recevrez vos photos de paresseux directement dans votre boîte mail, sous la forme d'un lien.
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          D'où viennent les photos de TheSlothProject ?
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <strong>De la passion, tout simplement.</strong> <br>Nos photos sont prises par des exaltés, les vrais, ceux qui savent apprécier l'instant présent et l'immortaliser.
        </div>
      </div>
    </div>

        <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          A quoi servira mon argent ?
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <strong>Nous sommes sociaux.</strong> 
          <br>Il servira à financer un programme d'insertion des paresseux en métropole parisienne, grâce à notre partenaire le Bréguet Sabin. 
        </div>
      </div>
    </div>

      <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Vos photos sont-elles libres de droit ?
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <strong>Non.</strong> 
        </div>
      </div>
    </div>
  </div>  
</div>