/* Navbar */
navbar {
  display: flex;
  background-color: red;

  justify-content: space-between;
}

#nb-left-elts, #nb-right-elts {
  display: flex;
}

.nb-elt {
  margin-left: 15px;
  margin-right: 15px;
}

.thumbnail {
  max-width: 100px;
  max-height: 100px;
  object-fit: cover;
}

.center-cropped {
  width: 50px;
  height: 50px;
  background-position: center center;
  background-repeat: no-repeat;
}

.picture-elements {
display: flex;
margin: 30px;
}

.img-home {
  padding: 30px;
}

.img-home:hover {
  background-color: #7A9C28;
}

.picture-index-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.banner-lg-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-image: url('https://medias.pourlascience.fr/api/v1/images/view/5d42f3f7d286c24fde2a84a8/wide_1300/image.jpg');
  color: #fff;
  width: 100%;
  height: 75vh;
}

.banner-lg-2 {
  background-size: cover;
  background-image: url('https://www.science-et-vie.com/var/scienceetvie/storage/images/media/images/galerie/2017-02-17-diaporama-admirez-les-plus-belles-images-du-film-planete-animale/paresseux-nain-escudo-de-veraguas-panama/33504-5-fre-FR/Paresseux-nain-Escudo-de-Veraguas-Panama.jpg?alias=original');
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  width: 100%;
  height: 75vh;
}

.feedback-elements {
  margin: 25px;
  text-align: center;
  }

.intro-elements {
  margin: 25px;
  text-align: center;
  }

.intro-index-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.footer-item {
  margin-left: 5px;
  margin-right: 5px;
}

.picture-show-main {
  display: flex;
  margin-top: 30px;
  margin-right: 20%;
}

.picture-show-main-thumb {
  display: flex;
  margin-top: 10px;
}

.picture-show-main-thumb-1 {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
  margin-right: 20px;

}

.picture-show-body {
  font-size: 0.5em;
}

.picture-show-main-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.picture-show-main-right {
  display: flex;
  margin-bottom: 40px;
  flex-direction: column;
  justify-content: center;
}

.picture-show-picture{
  box-sizing: content-box;
  width: 100%;
}

.picture-show-more {
  display: flex;
  margin-left: 15%;
  margin-right: 20%;
  margin-top: 30px;
  margin-bottom: 50px;
}
.picture-show-more-desc {
box-sizing: content-box;
width: 70%;
}

.picture-show-more-related {
  box-sizing: content-box;
  display: flex;
  flex-direction: column;
  width: 30%;
  }

.btn-tag {
  padding: 10px 24px;
  border-radius: 12px;;
}
