
<footer class="page-footer font-small unique-color-dark border-top bg-light">

  <!-- Footer Links -->
  <div class="container text-center text-md-left mt-4">

    <!-- Grid row -->
    <div class="row mt-3">

      <!-- Grid column -->
      <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-3">

        <!-- Content -->
        <h6 class="text-uppercase font-weight-bold">The Sloth Project</h6>
        <hr class="deep-purple accent-2 mb-3 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>Flemme.</p>

      </div>

      <!-- Grid column -->
      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-3">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Liens utiles</h6>
        <hr class="deep-purple accent-2 mb-3 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <%= link_to "L'Equipe", team_index_path, class: "nav-link text-secondary" %>
        </p>
        <p>
          <%=link_to "FAQ", faq_index_path, class: "nav-link text-secondary" %>
        </p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-3">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Contact</h6>
        <hr class="deep-purple accent-2 mb-3 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <i class="fas fa-home mr-3"></i> Les Paresseux, 24 rue des Dames, Paris, France</p>
        <p>
          <i class="fas fa-envelope mr-3"></i> contact@theslothproject.com</p>
      </div>
    </div>
  </div>

  <div class="footer-copyright text-center pb-3">© 2021 Copyright :
    <a href="https://the-sloth-project.herokuapp.com/", class="text-secondary text-decoration-none"> The Sloth Project, Inc</a>
  </div>

</footer>