<navbar>
  <div id= "nb-left-elts">
    <div class="logo nb-elt">The Sloth Project</div>
    <div class="nb-elt">Accueil</div>
  </div>
  <div id= "nb-right-elts">
    <div class="nb-elt">S'inscire</div>
    <div class="nb-elt">Se connecter</div>
    <%= button_to "Se déconnecter", destroy_user_session_path, :method => :delete, class: "btn btn-danger me-2" %>
  </div>
</navbar>