<navbar>
  <div id= "nb-left-elts">
    <div class="logo nb-elt">The Sloth Project</div>
    <div class="nb-elt">Accueil</div>
  </div>
  <div id= "nb-right-elts">
    <div class="nb-elt">S'inscrire</div>
    <div class="nb-elt">Se connecter</div>
    <button class="nb-elt"><%= link_to 'Mon Panier', cards_path %></button>
  </div>
</navbar>