  <nav class="py-2 bg-light border-bottom border-top">
    <div class="container d-flex justify-content-center">
      <ul class="nav overflow-hidden">
        <li class="btn-sm mx-1"><a href="/pictures" class="nav-link link-dark px-2 border-nav" aria-current="page">Tous les tags</a></li>
        <% Tag.all.each do |tag|%>
          <li class="btn-sm mx-1"><a href="/tags/<%= tag.title.parameterize %>" class="nav-link link-dark px-2 border-nav" aria-current="page"><%= tag.title.capitalize %></a></li>
        <% end %>
      </ul>
    </div>
  </nav>